:root{
    --main-color: #ffffff;
    --secondery-color : #666666 ;
    --main-font: 'Source Sans 3', sans-serif;
    --secondery-font: 'Oswald', sans-serif;
    --main-bg : url(../img/background-one.png);
    --mob-bg : url(../img/mb_bg.png)
}