* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.main-div {
  background-image: var(--main-bg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.glow {
  position: absolute;
  top: 80px;
  right: 0px;
  animation: glowing-stars 8s infinite linear;
  transition: 2s;
  -webkit-animation: glowing-stars 8s infinite linear;
}

.stars {
  position: absolute;
  top: 80px;
  right: 0px;
  transition: 8s;
  opacity: 0.8;
  animation: pulse 8s ease-in-out infinite;
  overflow: hidden;
}

.stars {
  width: 1200px;
  height: 760px;
}

.glow>img {
  width: 495px;
  height: 760px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  color: var(--main-color);
  cursor: pointer;
  color: var(--main-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbar>h3 {
  margin-left: 200px;
  font-weight: 400;
}

.fa-bars {
  display: none;
}

.main-logo {
  transition: 5s;
  z-index: 2;
}

.main-logo:hover {
  filter: invert(100%);
  transition: 5s;
  animation: spin-scale 5s linear infinite;
}

.nav {
  display: flex;
  margin-right: 37%;
}

.nav>li>a {
  margin-left: 30px;
  color: var(--main-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: 300ms;
}

.nav>li>a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: 300ms;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.hero>h1 {
  font-family: var(--secondery-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin-top: 15px;
  text-align: center;
  color: var(--main-color);
}

.hero>p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}

.content {
  height: 100vh;
  width: 100%;
  background-color: #eeeeee;
}

.content>h2 {
  font-family: var(--secondery-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  padding-top: 88px;
  text-align: center;

  color: #464547;
}

.content>.header {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 39px;
  text-align: center;

  color: var(--secondery-color);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.info>p {
  width: 416px;
  height: 172px;
  margin-right: 83px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--secondery-color);
  text-align: justify;
}

.info>p:first-child {
  margin-left: 80px;
}

.readmore {
  font-family: var(--secondery-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--main-color);
  background: #55c2d8;
  border-radius: 18px;
  width: 115px;
  height: 36px;
  border-style: none;
  cursor: pointer;
  margin-top: 46px;
  margin-left: 46%;
  transition: 500ms;
}

.readmore:hover {
  background-color: #13778b;
  transition: 500ms;
  transform-origin: top left;
  transform: rotate(45deg);
}

.last {
  height: 100vh;
  width: 100%;
  background-image: url(../img/background-last.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 87px;
  position: relative;
}

.last>.bg-color-overlay {
  top: 0;
  position: absolute;
  background-color: rgba(140, 79, 42, 0.3);
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.last>.bg-color-overlay>h2 {
  font-family: var(--secondery-font);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: var(--main-color);
  margin-top: 80px;
}

.last>.bg-color-overlay>button {
  margin-top: 53px;
  width: 150px;
  height: 150px;
  left: 525px;
  top: 1754px;
  background: #39c2d7;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: transform 500ms ease;
}

.last>.bg-color-overlay>button:hover {
  transition: 500ms;
  background-color: var(--main-color);
  transform: scale(0.9);
}

.last>.bg-color-overlay>button>span {
  padding-left: 10px;
  font-size: 80px;
  color: var(--main-color);
  border-radius: 2px;
}

.last>.bg-color-overlay>button>span:hover {
  transition: 500ms;
  color: #39c2d7;
}

.last>.bg-color-overlay>h3 {
  margin-top: 70px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--main-color);
}

footer {
  width: 100%;
  height: 170px;
  background: #464547;
}

.foot {
  padding-top: 19px;
  padding-left: 145px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.foot>span>span {
  margin-left: 6px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--main-color);
}

.foot>address {
  margin-top: 16px;
}

.mail {
  position: relative;
  color: rgba(255, 255, 255, 0.4);
  top: 47px;
}

.foot>address,
.foot>p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.copyright {
  margin-top: 103px;
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.9;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin-scale {
  0% {
    transform: rotate3d(0, 1, 0, 0) scale(0.5);
  }

  50% {
    transform: rotate3d(0, 1, 0, 180deg) scale(1);
  }

  100% {
    transform: rotate3d(0, 1, 0, 360deg) scale(0.5);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.mb_stars,
.mb_glow {
  display: none;
}


@media (max-width: 768px) {

  .glow,
  .stars {
    display: none;
  }

  .mb_stars,
  .mb_glow {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;

  }

  .mb_stars {
    position: absolute;
    opacity: 0.8;
    transition: 8s;
    opacity: 0.8;
    animation: pulse 8s ease-in-out infinite;
    overflow: hidden;

  }

  .mb_glow {
    padding: 18%;
    position: absolute;
    opacity: 0.8;
    padding-left: 200px;
    padding-right: 90px;
    animation: glowing-stars 6s infinite linear;
    transition: 2s;
    -webkit-animation: glowing-stars 6s infinite linear;
  }


  .main-div {
    position: relative;
    background-image: var(--mob-bg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 800px;
    z-index: 2;

  }

  .nav>li {
    display: none;
  }

  .fa-bars {
    display: block;
    margin-left: 600px;
    transition: 100ms;
  }

  .fa-bars:hover {
    transform: scale(1.2);
    animation: ease-in-out 1s normal;
  }

  .navbar>h3 {
    margin-left: -20px;
  }

  .content {
    height: 850px;
  }

  .content>h2 {
    padding: 30px 32px 0 32px;
  }

  .content>.header {
    padding: 41px 12px 0 12px;
  }

  .info {
    display: grid;
    grid-gap: 20px;
  }

  .info>p {
    margin-top: 20px;
    padding: 0 20px 0 20px;
  }

  .info-p {
    margin-left: 80px;
  }

  .content>.header {
    margin-top: 19px;
  }

  .readmore {
    margin: 20px 150px 0 325px;
  }

  .last {
    height: 737px;
  }

  .last>.bg-color-overlay {
    top: 0;
    position: absolute;
    background-color: rgba(140, 79, 42, 0.3);
    width: 100%;
    height: 737px;
    z-index: 10;
  }

  .foot {
    padding-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 19%;
    text-align: justify;
  }

  .mail {
    position: relative;
    color: rgba(255, 255, 255, 0.4);
    top: 27px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background: #464547;
  }

  .copyright {
    margin-top: 50px;
  }
}