@keyframes glowing-stars {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.9;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin-scale {
  0% {
    transform: rotate3d(0, 1, 0, 0) scale(0.5);
  }

  50% {
    transform: rotate3d(0, 1, 0, 180deg) scale(1);
  }

  100% {
    transform: rotate3d(0, 1, 0, 360deg) scale(0.5);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}