$main-bg: url('../img/background-one.png');
$secondery-bg : url('../img/background-last.png');
$mob-bg : url(../img/mb_bg.png);
$main-color: #ffffff;
$secondery-color : #666666;
$main-font: 'Source Sans 3',
sans-serif;
$secondery-font: 'Oswald',
sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}