@import './base.scss';



@media (max-width: 768px) {

  .glow,
  .stars {
    display: none;
  }

  .mb_stars,
  .mb_glow {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
  }

  .mb_stars {
    position: absolute;
    opacity: 0.8;
    transition: 8s;
    opacity: 0.8;
    animation: pulse 8s ease-in-out infinite;
    overflow: hidden;
  }

  .mb_glow {
    padding: 18%;
    position: absolute;
    opacity: 0.8;
    padding-left: 200px;
    padding-right: 90px;
    animation: glowing-stars 6s infinite linear;
    transition: 2s;
    -webkit-animation: glowing-stars 6s infinite linear;
  }

  .main-div {
    position: relative;
    background-image: $mob_bg;
    background-repeat: no-repeat;
    background-size: auto;
    height: 800px;
    z-index: 2;
  }

  .navbar {
    &__nav {
      &-item {
        display: none;
      }
    }

    &__sidebar-icon {
      display: block;
      margin-left: 600px;
      transition: 100ms;

      &:hover {
        transform: scale(1.2);
        animation: ease-in-out 1s normal;
      }
    }

    &__title {
      margin-left: -20px;
    }
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__headline,
    &__description {
      position: relative;
      z-index: 6;
    }
  }

  .content {
    height: 850px;
    margin-top: 240px;

    &__section-headline {
      padding: 30px 32px 0 32px;
    }

    &__header {
      padding: 41px 12px 0 12px;
      margin-top: 19px;
    }

    &__info {
      display: flex;
      flex-wrap: wrap;

      &-paragraph--1 {
        margin-top: 20px;
        margin-bottom: 60px;
        margin-left: 60px;
        padding: 0 20px 0 40px;
      }

      &-paragraph--2 {
        margin-left: 140px;
        padding: 0 60px 0 0;
      }
    }

    &__readmore {
      margin: 20px 150px 150px 325px;
    }
  }


  .last {
    height: 737px;

    &__overlay {
      top: 0;
      position: absolute;
      background-color: rgba(140, 79, 42, 0.3);
      width: 100%;
      height: 737px;
      z-index: 10;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background: #464547;

    .foot {
      padding-top: 58px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 19%;
      text-align: justify;

      &__address-mail {
        position: relative;
        color: rgba(255, 255, 255, 0.4);
        top: 27px;
      }

      &__copyright {
        margin-top: 50px;
      }
    }
  }

  @keyframes glowing-stars {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0.7;
    }

    40% {
      opacity: 0.9;
    }

    50% {
      opacity: 1;
    }

    60% {
      opacity: 0.9;
    }

    80% {
      opacity: 0.7;
    }

    100% {
      opacity: 0;
    }
  }
}