@import "./base.scss";
@import "./animations.scss";

.main-div {
  background-image: $main-bg;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  color: $main-color;
  cursor: pointer;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &__title {
    margin-left: 200px;
    font-weight: 400;
  }

  &__sidebar-icon {
    display: none;
  }

  &__nav {
    display: flex;
    margin-right: 37%;

    &-item {
      a {
        margin-left: 30px;
        color: $main-color;
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        transition: 300ms;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
          transition: 300ms;
        }
      }
    }
  }
}

.glow {
  position: absolute;
  top: 80px;
  right: 0px;
  animation: glowing-stars 8s infinite linear;
  transition: 2s;
  -webkit-animation: glowing-stars 8s infinite linear;

  img {
    width: 495px;
    height: 760px;
  }
}

.stars {
  position: absolute;
  top: 80px;
  right: 0px;
  transition: 8s;
  opacity: 0.8;
  animation: pulse 8s ease-in-out infinite;
  overflow: hidden;
  width: 1200px;
  height: 760px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -550px;
  margin-bottom: 200px;

  &__main-logo {
    position: relative;
    transition: 5s;
    z-index: 54156;

    &:hover {
      filter: invert(100%);
      transition: 5s;
      animation: spin-scale 5s linear infinite;
    }
  }

  &__headline {
    font-family: $secondery-font;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin-top: 15px;
    text-align: center;
    color: $main-color;
  }

  &__description {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 42px;
  }
}

.content {
  height: 100vh;
  width: 100%;
  background-color: #eeeeee;

  &__section-headline {
    font-family: $secondery-font;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    padding-top: 88px;
    text-align: center;
    color: #464547;
  }

  &__header {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-top: 39px;
    text-align: center;
    color: $secondery-color;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;

    &-paragraph--1 {
      width: 416px;
      height: 172px;
      margin-right: 83px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $secondery-font;
      text-align: justify;
    }
  }

  &__readmore {
    font-family: $secondery-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: $main-color;
    background: #55c2d8;
    border-radius: 18px;
    width: 115px;
    height: 36px;
    border-style: none;
    cursor: pointer;
    margin-top: 46px;
    margin-left: 46%;
    transition: 500ms;

    &:hover {
      background-color: #13778b;
      transition: 500ms;
      transform-origin: top left;
      transform: rotate(45deg);
    }
  }

  &__info-paragraph--2 {
    margin-left: 80px;
    width: 416px;
    height: 172px;
    margin-right: 83px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $secondery-font;
    text-align: justify;
  }
}

.last {
  height: 100vh;
  width: 100%;
  background-image: $secondery-bg;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 87px;
  position: relative;

  &__overlay {
    top: 0;
    position: absolute;
    background-color: rgba(140, 79, 42, 0.3);
    width: 100%;
    height: 100vh;
    z-index: 10;

    &-learn {
      font-family: $secondery-font;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      color: $main-color;
      margin-top: 80px;
    }

    &-play {
      margin-top: 53px;
      width: 150px;
      height: 150px;
      left: 525px;
      top: 1754px;
      background: #39c2d7;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: transform 500ms ease;

      &:hover {
        transition: 500ms;
        background-color: $main-color;
        transform: scale(0.9);
      }

      &--icon {
        padding-left: 10px;
        font-size: 80px;
        color: $main-color;
        border-radius: 2px;

        &:hover {
          transition: 500ms;
          color: #39c2d7;
        }
      }
    }

    &-info {
      margin-top: 70px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: $main-color;
    }
  }
}

footer {
  width: 100%;
  height: 170px;
  background: #464547;

  .foot {
    padding-top: 19px;
    padding-left: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__lap {
      &-project {
        margin-left: 6px;
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $main-color;
      }
    }

    &__address {
      margin-top: 16px;

      &-mail {
        position: relative;
        color: rgba(255, 255, 255, 0.4);
        top: 47px;
      }
    }

    &__address,
    &__copyright {
      font-family: $main-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

.foot__copyright {
  margin-top: 103px !important;
}

.mb_stars,
.mb_glow {
  display: none;
}


@import './media-query.scss'