* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 0.9;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin-scale {
  0% {
    transform: rotate3d(0, 1, 0, 0) scale(0.5);
  }

  50% {
    transform: rotate3d(0, 1, 0, 180deg) scale(1);
  }

  100% {
    transform: rotate3d(0, 1, 0, 360deg) scale(0.5);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.main-div {
  background-image: url("../img/background-one.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbar__title {
  margin-left: 200px;
  font-weight: 400;
}

.navbar__sidebar-icon {
  display: none;
}

.navbar__nav {
  display: flex;
  margin-right: 37%;
}

.navbar__nav-item a {
  margin-left: 30px;
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: 300ms;
}

.navbar__nav-item a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: 300ms;
}

.glow {
  position: absolute;
  top: 80px;
  right: 0px;
  animation: glowing-stars 8s infinite linear;
  transition: 2s;
  -webkit-animation: glowing-stars 8s infinite linear;
}

.glow img {
  width: 495px;
  height: 760px;
}

.stars {
  position: absolute;
  top: 80px;
  right: 0px;
  transition: 8s;
  opacity: 0.8;
  animation: pulse 8s ease-in-out infinite;
  overflow: hidden;
  width: 1200px;
  height: 760px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -550px;
  margin-bottom: 200px;
}

.hero__main-logo {
  position: relative;
  transition: 5s;
  z-index: 54156;
}

.hero__main-logo:hover {
  filter: invert(100%);
  transition: 5s;
  animation: spin-scale 5s linear infinite;
}

.hero__headline {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin-top: 15px;
  text-align: center;
  color: #ffffff;
}

.hero__description {
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}

.content {
  height: 100vh;
  width: 100%;
  background-color: #eeeeee;
}

.content__section-headline {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  padding-top: 88px;
  text-align: center;
  color: #464547;
}

.content__header {
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 39px;
  text-align: center;
  color: #666666;
}

.content__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.content__info-paragraph--1 {
  width: 416px;
  height: 172px;
  margin-right: 83px;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: "Oswald", sans-serif;
  text-align: justify;
}

.content__readmore {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background: #55c2d8;
  border-radius: 18px;
  width: 115px;
  height: 36px;
  border-style: none;
  cursor: pointer;
  margin-top: 46px;
  margin-left: 46%;
  transition: 500ms;
}

.content__readmore:hover {
  background-color: #13778b;
  transition: 500ms;
  transform-origin: top left;
  transform: rotate(45deg);
}

.content__info-paragraph--2 {
  margin-left: 80px;
  width: 416px;
  height: 172px;
  margin-right: 83px;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: "Oswald", sans-serif;
  text-align: justify;
}

.last {
  height: 100vh;
  width: 100%;
  background-image: url("../img/background-last.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 87px;
  position: relative;
}

.last__overlay {
  top: 0;
  position: absolute;
  background-color: rgba(140, 79, 42, 0.3);
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.last__overlay-learn {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  margin-top: 80px;
}

.last__overlay-play {
  margin-top: 53px;
  width: 150px;
  height: 150px;
  left: 525px;
  top: 1754px;
  background: #39c2d7;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: transform 500ms ease;
}

.last__overlay-play:hover {
  transition: 500ms;
  background-color: #ffffff;
  transform: scale(0.9);
}

.last__overlay-play--icon {
  padding-left: 10px;
  font-size: 80px;
  color: #ffffff;
  border-radius: 2px;
}

.last__overlay-play--icon:hover {
  transition: 500ms;
  color: #39c2d7;
}

.last__overlay-info {
  margin-top: 70px;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}

footer {
  width: 100%;
  height: 170px;
  background: #464547;
}

footer .foot {
  padding-top: 19px;
  padding-left: 145px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .foot__lap-project {
  margin-left: 6px;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

footer .foot__address {
  margin-top: 16px;
}

footer .foot__address-mail {
  position: relative;
  color: rgba(255, 255, 255, 0.4);
  top: 47px;
}

footer .foot__address,
footer .foot__copyright {
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.foot__copyright {
  margin-top: 103px !important;
}

.mb_stars,
.mb_glow {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@media (max-width: 768px) {

  .glow,
  .stars {
    display: none;
  }

  .mb_stars,
  .mb_glow {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
  }

  .mb_stars {
    position: absolute;
    opacity: 0.8;
    transition: 8s;
    opacity: 0.8;
    animation: pulse 8s ease-in-out infinite;
    overflow: hidden;
  }

  .mb_glow {
    padding: 18%;
    position: absolute;
    opacity: 0.8;
    padding-left: 200px;
    padding-right: 90px;
    animation: glowing-stars 6s infinite linear;
    transition: 2s;
    -webkit-animation: glowing-stars 6s infinite linear;
  }

  .main-div {
    position: relative;
    background-image: url(../img/mb_bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 800px;
    z-index: 2;
  }

  .navbar__nav-item {
    display: none;
  }

  .navbar__sidebar-icon {
    display: block;
    margin-left: 600px;
    transition: 100ms;
  }

  .navbar__sidebar-icon:hover {
    transform: scale(1.2);
    animation: ease-in-out 1s normal;
  }

  .navbar__title {
    margin-left: -20px;
  }

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero__headline,
  .hero__description {
    position: relative;
    z-index: 6;
  }

  .content {
    height: 850px;
    margin-top: 240px;
  }

  .content__section-headline {
    padding: 30px 32px 0 32px;
  }

  .content__header {
    padding: 41px 12px 0 12px;
    margin-top: 19px;
  }

  .content__info {
    display: flex;
    flex-wrap: wrap;
  }

  .content__info-paragraph--1 {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 60px;
    padding: 0 20px 0 40px;
  }

  .content__info-paragraph--2 {
    margin-left: 140px;
    padding: 0 60px 0 0;
  }

  .content__readmore {
    margin: 20px 150px 150px 325px;
  }

  .last {
    height: 737px;
  }

  .last__overlay {
    top: 0;
    position: absolute;
    background-color: rgba(140, 79, 42, 0.3);
    width: 100%;
    height: 737px;
    z-index: 10;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background: #464547;
  }

  footer .foot {
    padding-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 19%;
    text-align: justify;
  }

  footer .foot__address-mail {
    position: relative;
    color: rgba(255, 255, 255, 0.4);
    top: 27px;
  }

  footer .foot__copyright {
    margin-top: 50px;
  }

  @keyframes glowing-stars {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0.7;
    }

    40% {
      opacity: 0.9;
    }

    50% {
      opacity: 1;
    }

    60% {
      opacity: 0.9;
    }

    80% {
      opacity: 0.7;
    }

    100% {
      opacity: 0;
    }
  }
}